<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <title>Store List</title>
</head>
<body>
  <% if (!user) { %>
    <a href="/auth/google">Login with Google</a>
  <% } else { %>
    <%- include('../partials/nav') %>
    <a href="/users/<%=user._id%>/visitedStores">My Visited Stores</a>
    <a href="/logout">Log Out</a>

  </nav><br>
  <% } %>
  <h1>List of Stores</h1><br>
  <form action="/stores/new" method="GET">
    <button type="submit">Add New Store</button>
  </form><br>
  <table>
    <thead>
      <th>Name</th>
      <th>Location</th>
      <th>City</th>
      <th>Hours</th>
    </thead>
    <tbody>
      <!-- stores is passed from storeCtrl.index -->
      <% stores.forEach(function(s){ %>
        <tr>
          <td><%= s.storeName %> </td>
          <td><%= s.location %> </td>
          <td><%= s.city %> </td>
          <td><%= s.hours %> </td>
          <td><%= s.logoLink %> </td>
          <% if (user) { %>
          <td><form action="/users/<%=user._id%>/visitedStores" method="POST">
            <input type="text" hidden name="storeName" value="<%= s.storeName %>">
            <input type="text" hidden name="location" value="<%= s.location %>">
            <input type="text" hidden name="city" value="<%= s.city %>">
            <input type="text" hidden name="hours" value="<%= s.hours %>">
            <input type="text" hidden name="logoLink" value="<%= s.logoLink%>">
            <button type="submit">Add Store to Visited</button>
          </form></td>
        </tr>
        <% }%>
      <% }) %> 
    </tbody>
  </table>
  <!-- end else statement for being logged in-->

</body>
</html>
