<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <title>My Drinks</title>
</head>
<body>
  <% if (!user) { %>
    <a href="/auth/google">Login with Google</a>
  <% } else { %>
    <%- include('../partials/nav') %>
    <a href="/users/<%=user._id%>/visitedStores">My Visited Stores</a>
    <a href="/logout">Log Out</a>
  </nav><br>
  <h1>Drinks tried at <%= store.storeName %></h1><br>
  <table>
      <thead>
          <th>Drink</th>
          <th>Toppings</th>
          <th>Ice Level</th>
          <th>Sweetness Level</th>
          <th>Rating</th>
          <th>Price</th>
      </thead>
      <tbody>
        <% store.drinks.forEach(function(d,idx){ %>
            <tr>
            <td><%=d.drinkName%></td>
            <td><%=d.toppings%></td>
            <td><%=d.ice%></td>
            <td><%=d.sweetness%></td>
            <td><%=d.rating%></td>
            <td><%=d.price%></td>
            </tr>
        <% }) %> 
      </tbody>
  </table>
  <br>
  <form action="/visitedStores/<%=storeId%>/drinks/new" method="GET">
    <button type="submit">Add New Drink</button>
  </form><br>
  

  <!-- end else statement for being logged in-->
  <% } %>
</body>
</html>