<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Update Visited Store</title>
</head>
<body>
    <% if (!user) { %>
        <a href="/auth/google">Login with Google</a>
      <% } else { %>
        <%- include('../partials/nav') %>
        <a href="/users/<%=user._id%>/visitedStores">My Visited Stores</a>
        <a href="/logout">Log Out</a>
      </nav><br>

    <h1>Update store</h1>
    <form action="/users/<%=user._id%>/visitedStores/<%= store._id %>?_method=PUT" method="POST">
        <label>Store Name:
            <input type="text" name="storeName" value="<%=store.storeName %> ">
        </label><br>
        <label>Location:
            <input type="text" name="location" value="<%=store.location %> ">
        </label><br>
        <label>City:
            <input type="text" name="city" value="<%=store.city %> ">
        </label><br>
        <label>Hours:
            <input type="text" name="hours" value="<%= store.hours%> ">
        </label><br>
        <label>Logo:
            <input type="text" name="logoLink" value="<%= store.logoLink%> ">
        </label><br>
        <button type="submit">Update Store</button>
    </form>

    <!-- end else statment -->
    <% } %> 
</body>
</html>