<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <title>Stores</title>
</head>
<body>
  <% if (!user) { %>
    <a href="/auth/google">Login with Google</a>
  <% } else { %>
    <%- include('../partials/nav') %>
    <a href="/users/<%=user._id%>/visitedStores">My Visited Stores</a>
    <a href="/logout">Log Out</a>
  </nav><br>

  <h1>Visited Stores</h1><br>
  <!-- <form action="/stores/new" method="GET">
    <button type="submit">Add New Store</button>
  </form><br> -->
  <table>
    <thead>
      <th>Name</th>
      <th>Location</th>
      <th>City</th>
      <th>Hours</th>
      <th>Drinks Tried</th>
    </thead>
    <tbody>
      <!-- stores is passed from storeCtrl.index -->
      <% user.visitedStores.forEach(function(s, idx){ %>
        <tr>
          <td><%= s.storeName %> </td>
          <td><%= s.location %> </td>
          <td><%= s.city %> </td>
          <td><%= s.hours %> </td>
          <td><form action="/visitedStores/<%=s._id%>/drinks" method="GET">
            <button type="submit">Drinks</button>
          </form></td>
          <td><form action="/users/<%=user._id%>/visitedStores/<%=s._id%>" method="GET">
            <button>Update Store</button>
          </form></td>
          <td><form action="/users/<%=user._id%>/visitedStores/<%=s._id%>?_method=DELETE" method="POST">
            <button>Delete Store</button>
          </form></td>
        </tr>
      <% }) %> 
    </tbody>
  </table>
  <!-- end else statement for being logged in-->
  <% } %>
</body>
</html>